* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --blue-header-BG: hsl(217, 54%, 11%);
  --blue-card-BG: hsl(216, 50%, 16%);
  --blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  line-height: 60px;
  background-color: var(--blue-header-BG);
  border-bottom: 1px solid var(--blue-line);
}

.header-items {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  font-size: 20px;
}

.logo a {
  background-color: var(--blue-line);
  padding: 5px;
}

.header-items a .x {
  font-size: 25px;
  color: var(--Cyan);
}

.search {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 5px;
  top: 3px;
}

.search-input {
  width: 300px;
  height: 35px;
  font-size: 15px;
  padding-left: 5px;
  border-radius: 6px;
}

.header-items li a {
  color: var(--soft-blue);
}

.header-items li a:hover {
  color: white;
}
